<style>
  /* Masquer toutes les figures par défaut */
  figure {
    display: block; /* Assurer que toutes les figures sont visibles par défaut */
  }

  /* Masquer les figures spécifiques lorsque l'ancre correspond */
  #hide-fig:target {
    display: none; /* Masquer la figure avec id "hide-fig" */
  }

  /* Assurer que la figure avec id "show-fig" est visible lorsqu'elle est ciblée */
  #show-fig:target {
    display: block;
  }
</style>